body {
    background-color: #fff;
}

h1 {
    color: #424242;
    font-size: 56px;
    padding: 0px 0px;
}

h3 {
    color: #000000;
    font-size: 32px;
    padding: 0px 0px;
}

p, code {
    font-size: 18px;
}

#block {
    background-color: #424242;
    width: 100%;
    height: 15px;
    top: 0;
}

.layout {
    display: grid;
    grid-template-columns: 384px 373px;
    grid-template-rows: 56px 227px 333px;
    grid-gap: 32px 32px;
    justify-content: center;
}

.header {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.compPic {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.compPic img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.history {
    grid-column: 1;
    grid-row: 3;
    background-color: #E9EAEC;
    border-radius: 20px;
    padding: 0px;
}

.example {
    grid-column: 2;
    grid-row: 3;
    background-color: #E9EAEC;
    border-radius: 20px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

#code {
    background-color: #424242;
    color: #fff;
    justify-content: left;
}

